.introduction{
    height: 80vh;
    display: grid;
    align-content:  center;
    justify-items: center;
    padding: 40px;
}
.intro-headline{
    font-size: 2rem;
    margin: 20px;;
}
.intro-details{
    text-align: center;
    
}
